<% if @current %>
  <div id="player"></div>
<% else %>
  <h1>Queue is empty</h1>
<% end %>

<script>
  function onYouTubePlayerAPIReady() {
    var player = new YoutubePlayer('<%= @current.try(:youtube_id) %>');

    var eventStream = new EventStream(<%= event_stream_params %>);
    eventStream.forPlayer(<%= @current.present? %>);
  }
</script>
