
<video id="vid"
  src=""
  class="video-js vjs-default-skin vjs-hidden"
  controls="true" preload="auto"
  width="640"
  height="360"
>
</video>

<div id='empty-queue' class="text-center hidden">
  <h1>Empty Queue</h1>
  <%= image_tag("jukebox.png") %>
</div>

<script>
  // eventStream.forPlayer(<%= @current.present? %>, youtube_player.player);

  videojs('vid', { "techOrder": ["youtube"] }).ready(function() {
    var player = this;
    var streamUrl = '<%= events_path(channels: ["queue-#{current_room.id}"]) %>'
    var videoOperations = new VideoOperations();
    var eventStream = new EventStream(streamUrl);
    eventStream.forPlayer(player, videoOperations)

    videoOperations.playNext(player)

    // queueing
    player.on('ended', function() {
      videoOperations.playNext(player)
    });

    player.on('pause', function() {
      if (!player.ended()){
        videoOperations.pause()
      }
    });

    player.on('play', function() {
      if (player.currentTime() != 0) {
        videoOperations.continue()
      }
    });

    // TODO
    // player.imageOverlay({
    //   image_url: "http://img.youtube.com/vi/aNYjOVo5IEw/hqdefault.jpg",
    //   opacity: 0.5,
    //   height: '18em',
    //   width: '32em',
    //   right: '3em',
    //   bottom: '8em',
    //   position: 'absolute',
    //   only_fullscreen: true
    // });
  });

</script>
