<script src="http://www.youtube.com/player_api"></script>
<script src="<%= ESHQ.client.url %>/es.js"></script>

<script>

    // create youtube player
    var player;
    var currentVideo = '<%= @current.try(:youtube_id) %>'
    var eshq = new ESHQ("video-queue", {auth_headers: {'X-CSRF-Token': '<%= session[:_csrf_token] %>'}});

    eshq.onopen = function(e) {
      console.log("opened")
    };

    eshq.onmessage = function(e) {
      var data = JSON.parse(e.data);
      if (data.operation == "next") {
        location.reload();
      } else if ( data.operation == "new" && currentVideo == '') {
        location.reload();
      }
    };

    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: currentVideo,
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
      event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {
        if(event.data === 0) {
          location.reload();
        }
    }
</script>

<div id="player"></div>
