<%= form_tag ajax_search_videos_path, method: :get, class: "form-inline", remote: true, id: "search-form" do %>
  <div class="form-group">
    <%= text_field_tag "query", params[:query], class: "form-control", placeholder: "Search on YouTube", :autofocus => "autofocus" %>
  </div>
  <%= button_tag :class => "btn btn-default", type: :submit do %>
    <span class="glyphicon glyphicon-search"></span>
    <%= image_tag("load.gif", class: "hidden loading-indicator") %>
  <% end %>
<% end %>

<div id="search-results"></div>

<script>
  $(function() {
    $("#search-form").bind("ajax:send", function(e, data, status, xhr) {
      $form = $(e.target);
      VideoOperations.addLoading($form)
    }).bind("ajax:success", function(e, data, status, xhr) {
      $form = $(e.target);
      VideoOperations.removeLoading($form);

      $("#search-results").html(data);
    });
  });
</script>
