<div id="flash-message">
  <% flash.each do |type, message| %>
    <paper-toast text="<%= message %>" onclick="this.dismiss();" class="capsule toast-message"></paper-toast>
  <% end %>
</div>

<script>
  $(function() {
    $(".toast-message").each(function(index, value) {
      value.show();
    });
  });
</script>
