<div id="queue">
  <% if queued_videos.present? %>
    <% queued_videos.each_with_index do |queued_video, index| %>
      <jukapp-row-bar>
        <span flex>
          <%= truncate(queued_video.video.title, length: 54) %>
        </span>
        <% if owner? %>
          <%= form_tag queued_video, method: :delete, remote: true do %>
            <paper-icon-button icon="delete" class="delete-queue"></paper-icon-button>
          <% end %>
        <% end %>
      </jukapp-row-bar>
    <% end %>
  <% end %>
</div>

<script>
  $(function() {
    $(".delete-queue").unbind("click.deleteQueue").bind("click.deleteQueue", function() {
      $(this).closest("form").submit();
    });
  });
</script>
