<table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Title</th>
    </tr>
  </thead>
  <% videos.each_with_index do |video, index| %>
    <tr>
      <td>
        <%= index+1 %>
      </td>
      <td>
        <%= video.title %>
      </td>
    </tr>
  <% end %>
</table>
