<% videos.each_with_index do |video, index| %>
  <div class="table-row">
    <paper-shadow>
      <core-toolbar class="table-row-toolbar">
        <span flex><%= truncate(video.title, length: 54) %></span>
        <%= form_tag queue_video_path(youtube_id: video.youtube_id, title: video.title), method: :post, remote: true do %>
          <paper-icon-button icon="add" class="add-queue"></paper-icon-button>
        <% end %>
        <% if user_signed_in? && ( !local_variables.include?(:hide_favorites) || !hide_favorites ) %>
          <% if favorite?(video.youtube_id) %>
            <%= form_tag favorites_path(youtube_id: video.youtube_id, title: video.title), method: :delete, remote: true do %>
              <paper-icon-button icon="star" class="remove-favorite-button"></paper-icon-button>
            <% end %>
          <% else %>
            <%= form_tag favorites_path(youtube_id: video.youtube_id, title: video.title), method: :post, remote: true do %>
              <paper-icon-button icon="star-outline" class="add-favorite-button"></paper-icon-button>
            <% end %>
          <% end %>
        <% end %>
      </core-toolbar>
    </paper-shadow>
  </div>
<% end %>

<script>
  $(function() {
    $(".add-favorite-button").unbind("click.addFavorite").bind("click.addFavorite", function() {
      $(this).closest("form").submit();
      $(this).attr("disabled", "disabled");
      $(this).attr("icon", "star");
    });

    $(".remove-favorite-button").unbind("click.removeFavorite").bind("click.removeFavorite", function() {
      $(this).closest("form").submit();
      $(this).attr("disabled", "disabled");
      $(this).attr("icon", "star-outline");
    });

    $(".add-queue").unbind("click.addQueue").bind("click.addQueue", function() {
      $(this).closest("form").submit();
      $(this).attr("disabled", "disabled");
    });
  });
</script>
