<%= render 'shared/searchbar' %>
<br>

<% if @queued_videos.present? %>
  <div class="panel-md panel panel-primary text-center">
    <div class="panel-heading">
      <h4>Queue</h4>
    </div>
    <%= render 'shared/queued_videos_table', queued_videos: @queued_videos %>
  </div>
<% end %>

<div class="panel-md panel panel-primary text-center">
  <div class="panel-heading"><h4>Top 10</h4></div>
  <%= render 'shared/videos_table', videos: @top_ten_videos %>
</div>

<div class="panel-md panel panel-info text-center">
  <div class="panel-heading"><h4>Last 10</h4></div>
  <%= render 'shared/videos_table', videos: @last_ten_videos %>
</div>
