<% content_for :title, "Home" %>

<div class="search-content">
  <jukapp-tab-panel>
    <div class="first-tab">
      <%= render 'shared/stats_table', stats: @recents %>
    </div>
    <div class="second-tab">
      <%= render 'shared/stats_table', stats: @populars %>
    </div>
  </jukapp-tab-panel>
</div>
