<%= form_for Room.new do |form| %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>

<% if @rooms.any? %>
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, join_room_path(room) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
